# Environment files
.env

# Git
.git
.gitkeep
.gitignore
.github

# Jetbrains
.idea

# Docker
.dockerignore
Dockerfile*
docker-compose.yml

# Project information
Readme.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
LICENSE.md
STYLEGUIDE.md

environments/build/*
environments/develop/*
